#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#preview {
  display: block;
  text-align: left;
}

.code {
  display: block;
  white-space: pre-wrap;
  text-align: left;
}